{% extends "adminportal/base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}Blogs {% endblock %}


{% block page_title %} Blogs {% endblock %}
{% block  breadcrumb %}
    <li class="breadcrumb-item active"> Blogs </li>
{% endblock %}

{% block  content_area %}
<section class="section orders">
  <div class="row">


    <div class="action-buttons d-flex justify-content-end mb-2">
      <div class="d-flex justify-content-between">
        <a  href="{% url 'admin-add-blog' %}" class="btn btn-success"> Create New  </a>
      </div>
    </div>

    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> Blogs  </h5> 
          
          <table class="table table-borderless datatable">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
              </tr>
            </thead>

            <tbody>
              {% for blog in blogs %}
                  <tr>
                      <th scope="row">
                        <a href="{% url 'admin-view-blog' blog.id %}" >
                          #{{  forloop.counter }}</a>
                      </th>
                      <td>{{blog.title }}</td>
                      <td>{{ blog.created_at | date:'d-M-Y' }}</td>
                      <td>
                        <a href="{% url 'admin-view-blog' blog.id %}" class="text-primary">
                          {{ blog.description |slice_description:50 | safe }}
                      </a>
                      </td>
                      
                  </tr>
              {% endfor %}
            </tbody>
            
          </table>


        </div>
      </div>


    </div>



  </div>
</section> 

{% endblock %}
 