{% extends "adminportal/base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}View Blog {% endblock %}


{% block page_title %} View Blog {% endblock %}
{% block  breadcrumb %}
    <a  href="{% url 'admin-blogs' %}" class="breadcrumb-item"> Blogs  </a>
    <li class="breadcrumb-item active"> {{ blog.title }}  </li>

{% endblock %}

{% block  content_area %}
    
    <section> 
        <div class="row">

            <div class="action-buttons d-flex justify-content-end mb-2">
                <div class="d-flex justify-content-between">

                  <button class="btn btn-success mx-2" data-bs-target="#editBlogModal" data-bs-toggle="modal" >Edit</button>

                  <button  class="btn btn-danger" onclick="deleteBlog(event)">Delete</button>
                    <form method="post" id="delete-blog-form">
                      {% csrf_token %}
                        <input type="text" name="action" value="delete" hidden>
                    </form>
                    <script>
                      function deleteBlog(event){
                        let deleteBlogForm = document.querySelector('#delete-blog-form');
          
                        if (confirm('Are you sure you want to delete this blog?')) {
                          deleteBlogForm.submit();
                        }
          
                      }
                    </script>
                </div>
              </div>
                  
            <div class="card mb-3 col-12">
              <div class="row g-0">
                <div class="col-md-6">  
            
            
                    <div data-interval="500" id="viewBlogFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                      <div class="carousel-inner"> 
                        <style scoped>
                          .carousel-item{
                            height: 400px;
                          }.carousel-item img{
                            height: 100%;
                            aspect-ratio: 9/9;
                            object-fit: cover;
                          }
            
                        </style>
                        <div class="carousel-item active ">
                          <img  src="{{blog.image.url}}" class="img-fluid rounded-start d-block w-100" alt="...">
                        </div>
                      
            
        
            
                      </div>
            
              
            
                    </div> 
                    <!-- End Slides with fade transition -->
            
            
            
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                    <h1 class="card-title" style="font-size:2rem;">{{ blog.title | title }}</h1>
                    <p class="card-text">{{blog.description | safe }}</p>
                    </div>
                </div>
              </div>
            </div>
              
        </div>
      
          <!-- static modal for editing blog -->


      <div class="modal fade" id="editBlogModal" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="staticBackdropLabel">Edit Blog</h5>
                <button type="button" class="btn close fw-bold" data-bs-dismiss="modal" aria-label="Close">
                    <span class="fs-2" aria-hidden="true">&times;</span>
                </button>
            </div>
    
            <div class="modal-body">
    
                <div class="row">
                  <form method="post" enctype="multipart/form-data" id="blogEditForm">
                    <input type="text" name="action" value="edit" hidden>
                    {% csrf_token %} 
        
                    <div class="col-sm-12"> 

                      <div class="form-group mb-2">
                        <label for="blogTitle" class="mb-1">Title</label>
                        <input name="title" type="text" class="form-control" id="blogTitle"placeholder="Blog Title"  
                        value="{{ blog.title }}"
                        required>
                      </div>
      
                      <!-- image -->
                      <div class="form-group mb-2">
                        <label for="blogImage" class="mb-1">Image</label>
                        <input name="image" type="file" class="form-control" id="blogImage" 
                          value="{{ blog.image }}"
                        placeholder="Blog Image"  required>
                      </div>

                      <div class="form-group mb-3">
                        <label class="mb-1" for="floatingTextarea" >Description</label>
                        <textarea name="description" class="form-control tinymce-editor" placeholder="" id="floatingTextarea" style="height: 100px;">
                          {{ blog.description }}
                        </textarea>
                      </div> 
      
                      
                    </div>
      
      
        
            
                  </form>
                </div>
                
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save-cart-item-changes" id="blogSavechagesBtn"
                  onclick="document.querySelector('#blogEditForm').submit();"
                >
                    Save changes
                    <span><i class="fas fa-arrow-circle-right"></i></span>
    
                </button>
            </div>
            </div>
        </div>
      </div>

    </section> 

{% endblock %}
