

{% extends "adminportal/base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %} View Message  {% endblock %}


{% block page_title %} View Message {% endblock %}
{% block  breadcrumb %}
    <a  href="{% url 'admin-contact-messages' %}" class="breadcrumb-item"> Messages  </a>
    <li class="breadcrumb-item active"> {{ contact_message.name }}  </li>

{% endblock %}

{% block  content_area %}
    
    <section> 
        <div class="row">
            <div class="action-buttons d-flex justify-content-end mb-2">
                <div class="d-flex justify-content-between">
                  <button  class="btn btn-danger" onclick="deleteMessage(event)">Delete</button>
                    <form method="post" id="delete-message-form">
                      {% csrf_token %}
                        <input type="text" name="action" value="delete" hidden>
                    </form>
                    <script>
                      function deleteMessage(event){
                        let deleteMessageForm = document.querySelector('#delete-message-form');
          
                        if (confirm('Are you sure you want to delete this message?')) {
                          deleteMessageForm.submit();
                        }
          
                      }
                    </script>
                </div>
            </div>

            <div class="card mb-3 col-12">
                <div class="row g-0">
              
                  <div class="col-md-12">
                      <div class="card-body">
                      <h1 class="card-title">Email : {{ contact_message.email  }} <br /> 
                        <!-- <span>Phone :  {{ contact_message.phone }}</span> -->
                    </h1>
                      <h2 class="card-title">
                        {% if  contact_message.subject  %}
                           Subject : {{ contact_message.subject  }}
                          {% endif %}
                      </h2>
    
                      <p class="card-text">{{contact_message.message | safe }}</p>
                      </div>
                  </div>
                </div>
            </div><!-- End Card with an image on left -->
        </div>
      

    </section> 

{% endblock %}
