{% load static %} 

<form class="profile-edit" id="profile-about-form" method="post"  enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="action" value="update_about" />
   
    <div class="row mb-1">
      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
      <div class="col-md-8 col-lg-9">

        {% if portfolio_user.about.image %}

        <img id="profileImageTag"  src="{{ portfolio_user.about.image.url }}" style="aspect-ratio: 1/1;">
      
        {% else %}
        <img id="profileImageTag" src="{% static 'admin-portal/assets/img/default-admin.jpg' %}"  style="aspect-ratio: 1/1;">

        <!-- <img src="{% static 'admin-portal/assets/img/profile-img.jpg' %}" alt="Profile" class="rounded-circle">  -->


      {% endif %}
        
        <div class="pt-2">
            <!-- profile image name display -->
            <p id="profile-image-name" class="d-inline-block"></p> <br />
            <input type="file" name="image" accept="image/*" style="display: none;" id="profile-image-input" >

            <div  class="btn btn-primary btn-sm" title="Upload new profile image" id="profile-image-picker">
                 <i class="bi bi-upload" ></i>
                 <script>
                
                    let  profileImagePicker = document.getElementById("profile-image-picker");
                    let profileImageInput = document.getElementById("profile-image-input");
                    let profileImageName = document.getElementById("profile-image-name");
                    profileImagePicker.addEventListener("click",selectProfileImage);
                    function selectProfileImage(event){
                        profileImageInput.click();
                    }

                    profileImageInput.addEventListener("change",function(event){
                        profileImageName.innerHTML = event.target.files[0].name;
                        loadImageFileToTag("#profileImageTag",event.target.files[0]);
                        
                    });

                 </script>
            </div>
            <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image">
                <i class="bi bi-trash"></i>
            </a>



        </div>
      </div>
    </div> 

    <hr class="divider" /> <br />
    <h5 class="card-title">Bio </h5>

    <div>
        {{ portfolio_user.about.bio | safe }}

    </div>

        <hr class="divider" /> <br />
        <h5 class="card-title">About  Details Form </h5>

    <div class="row mb-2">
        <label class="col-md-4 col-lg-3 col-form-label">Quote </label> <br />

        <div class="col-md-8 col-lg-9">
            <input type="text" name="quote" class="form-control" value="{{ portfolio_user.about.quote | safe }}" required>
        </div>

    </div>

    <div class="row mb-2">
        <label class="col-md-4 col-lg-3 col-form-label">Bio </label> <br />

        <div class="col-md-8 col-lg-9">
            <textarea name="bio" class="form-control tinymce-editor">
                {{ portfolio_user.about.bio | safe }}
            </textarea>
        </div>
    </div>


    <div class="text-center">
        <button type="submit" class="btn btn-primary">Save Changes</button> 
    </div>

</form> 


