


<form id="profile-change-password-form" method="post">
  {% csrf_token %}
  <input type="hidden" name="action" value="change_password" />
    <div class="row mb-3">
      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
      <div class="col-md-8 col-lg-9 input-group">
       
        <input name="current_password" type="password" class="form-control" id="currentPassword" required>
        
        <span class="input-group-text text-light bg-primary fw-bold show-hide-password" title="Click Here to make password visible">
          <i class="bi bi-eye"></i>
        </span>
       
    

      </div>
    </div>

    <div class="row mb-3">
      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
      <div class="col-md-8 col-lg-9 input-group"> 
        <input name="password" type="password" class="form-control" id="newPassword" required>
      </div>
    </div>

    <div class="row mb-3">
      <label for="confirmPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
      <div class="col-md-8 col-lg-9 input-group">
        <input name="confirm_password" type="password" class="form-control" id="confirmPassword" required>
      </div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary">Change Password</button>
    </div>
  </form><!-- End Change Password Form -->

  <!-- script for showing and hiding password -->
  <script>
      let currentPassword = document.querySelector('input[name="currentPassword"]');
      let form = document.querySelector('#profile-change-password-form');
      let formPasswords = form.querySelectorAll('input[type="password"]');

      let showHidePassword = form.querySelector('.show-hide-password');
      let showHidePasswordIcon = showHidePassword.querySelector('i');
      showHidePassword.onclick =(e)=>{

         showHidePasswordIcon.classList.contains('bi-eye') ? showHidePasswordIcon.classList.replace('bi-eye','bi-eye-slash') : showHidePasswordIcon.classList.replace('bi-eye-slash','bi-eye');

        formPasswords.forEach((input)=>{
          if(input.type == 'password'){
            input.type = 'text';
          }else{
            input.type = 'password';
          }
        });
        
      }


  </script>
