

<div>
    <h5 class="card-title">Profile Details</h5>

    <div class="row">
      <div class="col-lg-3 col-md-4 label ">Full Name</div>
      <div class="col-lg-9 col-md-8">{{ portfolio_user.first_name}}{{ portfolio_user.last_name }}</div>
    </div>

    

    <div class="row">
      <div class="col-lg-3 col-md-4 label">Username</div>
      <div class="col-lg-9 col-md-8">{{ portfolio_user.username }}</div>
    </div>



    <div class="row">
      <div class="col-lg-3 col-md-4 label">Email</div>
      <div class="col-lg-9 col-md-8">{{ portfolio_user.email }}</div>
    </div>

  </div>