{% extends "base.html" %}
{% load static %}

{%  block title %}About|| Boltech Training Institute {% endblock %}


{% block  content %}
        <section class="breadcrumbs-area bg-3 ptb-110 bg-opacity bg-relative">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="breadcrumbs">
                            <h2 class="page-title">About Us</h2>
                            <ul>
                                <li>
                                    <a class="active" href="#">Home</a>
                                </li>
                                <li>
                                    <a>Pages</a>
                                </li>
                                <li>About Us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Start page content -->
        <section class="about-area pt-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="about-text">
                            <h2>Boltech Training Institute's History</h2>
                            <p>
                                Boltech Training Institute is a leading technical college in Kenya and East Africa, known for its quality training programs and practical approach to learning. The institute was established in 2014 by a group of young and talented technical enthusiasts who recognized the need for skilled technicians in the rapidly growing electronics industry.

                               Since its inception, Boltech has trained thousands of technicians in Kenya and East Africa, with a primary focus on handheld electronic equipment and business-related programs. The institute's core program is the Mobile Phone Repair and Maintenance course, which covers both hardware and software aspects of mobile phone repair. This course is in high demand, as qualified technicians are needed worldwide.
                            </p>
                            <h2>Our Focus </h2>
                            <p>
                                Boltech's focus on talent and interests rather than grades sets it apart from other training institutes. The institute recognizes that not all students excel academically but may have other talents and interests that can be developed through training. Boltech encourages students to pursue their passions and interests, providing them with the necessary skills and knowledge to succeed in their chosen fields.
                            
                        </div>
                    </div>
                    <div class="col-lg-6 mb-60 mrg-btm-about col-md-6">
                        <div class="book-img">
                            <img alt="#" src="{% static 'images/banner/1.jpg' %}" >
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="service-area gray-bg ptb-110">
            <!-- Demo Section    -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="service-all white-bg">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <h2>Boltech Institute, Home of Technicians</h2>
                                    <div class="service-left">
                                        <div class="offer-icon">
                                            <i class="icofont icofont-support"></i>
                                        </div>
                                        <div class="offer-text">
                                            <h3>Practical, workshop-based training: </h3>
                                            <p>
                                                Boltech's courses are designed to provide students with hands-on, practical training that is relevant to real-world situations. This approach ensures that students graduate with the skills and knowledge needed to excel in their chosen fields</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <h2> Why we are unique ?</h2>
                                    <div class="service-left mrg-xs">
                                        <div class="offer-icon">
                                            <i class="icofont icofont-world"></i>
                                        </div>
                                        <div class="offer-text">
                                            <h3>Qualified and experienced tutors: </h3>
                                            <p>Boltech's tutors are practicing technicians with years of experience in their respective fields. This ensures that students receive high-quality training from experts who have practical knowledge of the industry.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="service-left service-mrg mrg-xs">
                                        <div class="offer-icon">
                                            <i class="icofont icofont-gift"></i>
                                        </div>
                                        <div class="offer-text">
                                            <h3>Affordable fees: </h3>
                                            <p>Boltech's training programs are affordable, making them accessible to a wide range of students. The institute offers value for money, ensuring that students receive high-quality training without breaking the bank.
                                                The institute Management also provides friendly modes of payment that helps our students easly pay nd complete their courses .
                                                Join us today with the amount of deposit you have we shall guide you on the way forward.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="service-left service-mrg mrg-xs">
                                        <div class="offer-icon">
                                            <i class="icofont icofont-football-american"></i>
                                        </div>
                                        <div class="offer-text">
                                            <h3>Focus on talents and interests: </h3>
                                            <p>Boltech recognizes that not all students excel academically, but may have other talents and interests that can be developed through training. The institute encourages students to pursue their passions and interests, providing them with the necessary skills and knowledge to succeed in their chosen fields.
                                                Boltech's commitment to nurturing personal and technical talents, as well as entrepreneurial skills, ensures that students are equipped with the necessary skills and knowledge to succeed in their chosen fields.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End page content -->
          <!-- Start tab content -->
          <div class="tab-accordion-area bg-off-white ptb-80 elements-tab-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="tab-content fix">
                            <div class="tab-pane active" id="preview-2">
                                <ul class="tab-list nav">
                                    <li><a class="active" href="#home" data-bs-toggle="tab">Vision </a></li>
                                    <li><a href="#profile" data-bs-toggle="tab">Mission</a></li>
                                    <li><a href="#messages" data-bs-toggle="tab">Core Values</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="home">
                                        <p>To be a Global Leader in Technical Skills and Excellence.</p>
                                        <p>We are committed to providing exceptional education and training programs that empower individuals to thrive in the rapidly evolving technological landscape.As technology continues to reshape industries and drive innovation, the demand for skilled professionals has never been higher. Boltech Institute is dedicated to equipping our students with the knowledge, skills, and mindset required to succeed in this dynamic environment.

                                            We offer a wide range of cutting-edge courses and programs designed to meet the needs of aspiring professionals and seasoned experts alike. Our curriculum is carefully crafted by industry experts and regularly updated to reflect the latest trends and advancements. Whether you're looking to enhance your existing skills or embark on a new career path, Boltech Institute provides the perfect platform to achieve your goals.</p>
                                    </div>
                                    <div class="tab-pane" id="profile">
                                        <p>Our mission at Boltech Institute is to impart knowledge, innovative skills, nurture attitudes, and foster a strong work ethic for self-reliance and national development. We believe that education is the foundation for personal growth and societal progress. Through our comprehensive programs and dedicated faculty, we strive to empower our students with the tools and abilities they need to excel in their chosen fields. By instilling a culture of innovation, critical thinking, and perseverance, we aim to develop individuals who are not only technically proficient but also socially responsible. We are committed to contributing to the development of our nation by equipping our students with the skills and mindset required to drive economic growth, create employment opportunities, and address the challenges of our ever-changing world.</p>
                                    </div>
                                    <div class="tab-pane" id="messages">
                                        <p>At Boltech Institute, our core values serve as the guiding principles that shape our institution and the experiences of our students. These core values include:</p>

                                    <h3>Excellence:</h3><p> We strive for excellence in everything we do. We are committed to providing high-quality education, maintaining academic standards, and continuously improving our programs to meet the evolving needs of our students and the industry. We encourage our students to aim for excellence in their studies, work, and personal development.</p>
                                            
                                          <h3> Integrity:</h3><p> We uphold the highest standards of integrity and ethical conduct. We foster an environment of honesty, trust, and fairness, where our students, faculty, and staff act with integrity in their interactions and decision-making processes. We believe that integrity is the foundation of a strong educational community.</p>
                                            
                                           <h3>Innovation:</h3> <p> We embrace innovation and encourage creative thinking. We recognize that innovation is the key to progress and adaptability in today's fast-paced world. Through innovative teaching methods, curriculum design, and research opportunities, we inspire our students to think outside the box, explore new ideas, and find innovative solutions to complex challenges.</p>
                                            
                                            <h3>Honesty:</h3> <p>We value honesty as an essential virtue in education and personal growth. We promote a culture of open communication, transparency, and accountability. We encourage our students to be honest with themselves, their peers, and their instructors, fostering an environment of mutual respect and trust.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End tab content -->
         <!-- Start about team content -->
         <section class="lecturers-area ptb-110">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center mb-60">
                            <h1 class="uppercase">Team Of Management</h1>
                            <p>Our Schooled is managed by the top leaders in technicians </p>
                            <div class="separator my mtb-15">
                                <i class="icofont icofont-hat-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-lecturers">
                            <div class="lecturers-img">
                                <a href="#"><img alt="" src="images/banner/2.jpg"></a>
                                <div class="img-title">
                                    <h3>Tayeb</h3>
                                    <p> Lecturers</p>
                                </div>
                            </div>
                            <div class="lecturers-details">
                                <h3>Al-Mamun</h3>
                                <p> Lecturers</p>
                                <div class="last-about-details">
                                    <ul>
                                        <li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-dribbble"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-tumblr"></i></a></li>
                                    </ul>
                                </div>
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deseru mollit ank id est laborum</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-lecturers mrg-xs4">
                            <div class="lecturers-img">
                                <a href="#"><img alt="" src="images/banner/3.jpg"></a>
                                <div class="img-title">
                                    <h3>Rayed</h3>
                                    <p> Lecturers</p>
                                </div>
                            </div>
                            <div class="lecturers-details">
                                <h3>Al-Mamun</h3>
                                <p> Lecturers</p>
                                <div class="last-about-details">
                                    <ul>
                                        <li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-dribbble"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-tumblr"></i></a></li>
                                    </ul>
                                </div>
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deseru mollit ank id est laborum</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-lecturers mrg-sm mrg-xs4">
                            <div class="lecturers-img">
                                <a href="#"><img alt="" src="images/banner/4.jpg"></a>
                                <div class="img-title">
                                    <h3>Mamun</h3>
                                    <p> Lecturers</p>
                                </div>
                            </div>
                            <div class="lecturers-details">
                                <h3>Mamun</h3>
                                <p> Lecturers</p>
                                <div class="last-about-details">
                                    <ul>
                                        <li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-dribbble"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-tumblr"></i></a></li>
                                    </ul>
                                </div>
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deseru mollit ank id est laborum</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-lecturers mrg-sm mrg-xs4">
                            <div class="lecturers-img">
                                <a href="#"><img alt="" src="images/banner/5.jpg"></a>
                                <div class="img-title">
                                    <h3>Shuvo</h3>
                                    <p> Lecturers</p>
                                </div>
                            </div>
                            <div class="lecturers-details">
                                <h3>Shuvo</h3>
                                <p> Lecturers</p>
                                <div class="last-about-details">
                                    <ul>
                                        <li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-dribbble"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-tumblr"></i></a></li>
                                    </ul>
                                </div>
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deseru mollit ank id est laborum</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End page content -->
       
        <div class="counter-area bg-2 bg-opacity bg-relative ptb-110">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12 text-center">
                        <div class="counter-bottom2">
                            <div class="counter-img">
                                <img src="{% static 'images/icons/1.jpg' %}" alt="" >
                            </div>
                            <div class="counter-all">
                                <div class="counter-next2">
                                    <h2>Teachers</h2>
                                </div>
                                <div class="counter cnt-two">
                                    <h1>34</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12  text-center">
                        <div class="counter-bottom2 mrg-xs mrg-sm-none">
                            <div class="counter-img">
                                <img src="{% static 'images/icons/2.png' %}" alt="" >
                            </div>
                            <div class="counter-all">
                                <div class="counter-next2">
                                    <h2>Students</h2>
                                </div>
                                <div class="counter cnt-two">
                                    <h1>3554</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12  text-center">
                        <div class="counter-bottom2 mrg-xs">
                            <div class="counter-img">
                                <img src="{% static 'images/icons/3.jpg' %}" alt="" >
                            </div>
                            <div class="counter-all">
                                <div class="counter-next2">
                                    <h2>Research</h2>
                                </div>
                                <div class="counter cnt-two">
                                    <h1>354</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12  text-center">
                        <div class="counter-bottom2 mrg-xs">
                            <div class="counter-img">
                                <img src="{% static 'images/icons/4.jpg' %}" alt="" >
                            </div>
                            <div class="counter-all">
                                <div class="counter-next2">
                                    <h2>Awards</h2>
                                </div>
                                <div class="counter cnt-two">
                                    <h1>44</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Testimonials area-->
        <div class="testimonial-area bg-10 bg-opacity bg-relative ptb-110">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="testimonial-all slider-active2">
                            {% for testimonial in testimonials %}
                            <div class="single-testimonial">
                                <div class="test-img-name">
                                    <div class="test-img">
                                        <img src="{{testimonial.image.url }}" width="100" alt="">
                                    </div>
                                    <div class="test-name">
                                        <h3>{{ testimonial.testifier}}</h3>
                                        <p>{{ testimonial.testifier_role }}</p>
                                    </div>
                                </div>
                                <p>{{ testimonial.description | safe }} </p>
                            </div>
                            {% endfor %}
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <!--testimonials end-->
        <!-- End page content -->

{% endblock %}



