{%  load static %}
<!doctype html>
<html class="no-js" lang="eng">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% block title %}{% endblock %}</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
    
    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="{% static 'css/shortcode/shortcodes.css' %}">
    <!-- Theme main style -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- Responsive css -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Style customizer (Remove these two lines please) -->
    <link rel="stylesheet" href="{% static 'css/style-customizer.css' %}">
    <link href="#" data-style="styles" rel="stylesheet">

      <!-- sweet alert include  -->
    <script src="{% static 'sweetalert.min.js' %}"></script>
    
    <!-- Modernizr JS -->
    <script src="{% static 'js/vendor/modernizr-3.11.7.min.js' %}"></script>
</head>

<body> 

    {% if  script %}
    <script>
      document.addEventListener("DOMContentLoaded", function(event) {
         {{ script | safe }}
      });
    </script>
    {% endif %}


    
<!-- Body main wrapper start -->
<div class="wrapper">
<!-- Start of header area -->
{% include "inc/header.html" %}
<!-- End of header area -->
{% block  content %}
{% endblock %}

<!-- Start footer area -->
{% include "inc/footer.html" %}
<!-- End footer area -->
<!-- start scrollUp
============================================ -->
<div id="toTop">
    <i class="fa fa-chevron-up"></i>
</div>


<!--style-customizer start -->
<div class="style-customizer closed">
    <div class="buy-button">
        <a href="/" class="customizer-logo"><img src="{% static 'images/logo/logo.jpg' %}" width="100" height="50" alt="Logo"></a>
        <a class="opener" href="#">
          <i class="fa fa-cog fa-spin"></i>
        </a> 
        <a class="button button-border" href="{{ bronchure.file.url }}" target="_blank">{{ bronchure.name | title }}</a> 
    </div>
    <div class="clearfix content-chooser">
        
            <div class="row row-cols-1">
              <div class="col">Column</div>
              <div class="col">Column</div>
              <div class="col">Column</div>
              <div class="col">Column</div>
           
    </div>
</div>
<!--style-customizer end -->
</div>
<!-- Body main wrapper end -->


<!-- Placed js at the end of the document so the pages load faster -->

<!-- jquery latest version -->
<script src="{% static 'js/vendor/jquery-v1.12.4.min.js' %}"></script>
<!-- Bootstrap framework js -->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- ajax-mail JS
============================================ -->		
<script src="{% static 'js/ajax-mail.js' %}"></script>
<!-- All js plugins included in this file. -->
<script src="{% static 'js/plugins.js' %}"></script>



{%  block  js %}
{%  endblock  %}
<script src="{% static 'js/main.js' %}"></script>

</body>

</html>