{% extends "base.html" %}
{% load static %}

{%  block title %}Events || Boltech Training Institute {% endblock %}


{% block  content %}
        <!-- End of header area -->
        <section class="breadcrumbs-area bg-3 ptb-110 bg-opacity bg-relative">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="breadcrumbs">
                            <h2 class="page-title">Our Top Courses</h2>
                            <ul>
                                <li>
                                    <a class="active" href="#">Home</a>
                                </li>
                                <li>
                                    <a>Pages</a>
                                </li>
                                <li>Our Events</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Start page content -->
        <section class="events-page ptb-110">
            <div class="container">
                <div class="row">
                    {% for event in events %}
                    <div class="col-lg-6 col-md-12">
                        <div class="single-upcoming mb-40">
                            <div class="upcoming-date text-center">
                                <div class="date-all">
                                    <span>{{ event.date |date:'d'}}</span>
                                    <span class="month">{{ event.date |date:'M'}}</span>
                                </div>
                            </div>
                            <div class="single-upcoming-text">
                                <div class="blog-meta">
                                    <span class="published3">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        {{event.start_time|time:"h:i A"}} to {{event.end_time|time:"h:i A"}}
                                    </span>
                                    <span class="published4">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        {{ event.location }}
                                    </span>
                                </div>
                                <h3><a href="{% url 'event-details' event.id %}">{{event.title | upper}}</a></h3>
                                <p>{{ event.description | safe }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
              
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center pt-60 dn-mrg">
                        <div class="pages2">
                            <ul>
                                <li><a href="#">01</a></li>
                                <li class="active"><a href="#">02</a></li>
                                <li><a href="#">03</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End page content -->
{% endblock %}