  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'admin-index' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

       

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'admin-courses' %}">
          <i class="bi bi-book"></i>
          <span>Courses</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'admin-events' %}">
          <i class="bi bi-calendar"></i>
          <span>Events</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'admin-blogs' %}">
          <i class="bi bi-chat-dots-fill"></i>
          <span>Blog</span>
        </a>
      </li>

      

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'admin-bronchures' %}">
          <i class="bi bi-newspaper"></i>
          <span>Bronchures</span>
        </a>
      </li>

      <li class="nav-heading">Pages</li>



      
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'admin-registrations' %}">
          <i class="bi-person-plus"></i>
          <span>Registrations</span>
        </a>
      </li>
 
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'admin-testimonials' %}">
          <i class="bi bi-chat-dots"></i>
          <span>Testimonials</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'admin-contact-messages' %}">
          <i class="bi bi-envelope"></i>
          <span>Contact Messages</span>
        </a>
      </li>

 

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'admin-logout' %}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Log Out</span>
        </a>
      </li><!-- End Logout Page Nav --> 



    </ul>

  </aside><!-- End Sidebar-->
