{% extends "adminportal/base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}Events {% endblock %}


{% block page_title %} View Event {% endblock %}
{% block  breadcrumb %}
    <a  href="{% url 'admin-events' %}" class="breadcrumb-item"> Events  </a>
    <li class="breadcrumb-item active"> {{ event.title }}  </li>

{% endblock %}

{% block  content_area %}
    
    <section> 
        <div class="row">

            <div class="action-buttons d-flex justify-content-end mb-2">
                <div class="d-flex justify-content-between">

                  <button class="btn btn-success mx-2" data-bs-target="#editEventModal" data-bs-toggle="modal" >Edit</button>

                  <button  class="btn btn-danger" onclick="deleteEvent(event)">Delete</button>
                    <form method="post" id="delete-event-form">
                      {% csrf_token %}
                        <input type="text" name="action" value="delete" hidden>
                    </form>
                    <script>
                      function deleteEvent(event){
                        let deleteEventForm = document.querySelector('#delete-event-form');
          
                        if (confirm('Are you sure you want to delete this event?')) {
                          deleteEventForm.submit();
                        }
          
                      }
                    </script>
                </div>
              </div>
                  
            <div class="card mb-3 col-12">
              <div class="row g-0">
                <div class="col-md-6">  
            
            
                    <div data-interval="500" id="viewEventFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                      <div class="carousel-inner"> 
                        <style scoped>
                          .carousel-item{
                            height: 400px;
                          }.carousel-item img{
                            height: 100%;
                            aspect-ratio: 16/9;
                            object-fit: cover;
                          }
            
                        </style>
                        
                        <div class="carousel-item active ">
                          <img  src="{{event.image.url}}" class="img-fluid rounded-start d-block w-100" alt="...">
                        </div>
                      
        
            
                      </div>
            
                      <button class="carousel-control-prev" type="button" data-bs-target="#viewEventFade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#viewEventFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
            
                    </div> 
                    <!-- End Slides with fade transition -->
            
            
            
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                    <h1 class="card-title" style="font-size:2rem;">{{ event.title | title }}</h1>
                    <p class="card-text">{{event.description | safe }}</p>
                    </div>
                </div>
              </div>
            </div>
              
        </div>
      
          <!-- static modal for editing event -->


      <div class="modal fade" id="editEventModal" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="staticBackdropLabel">Edit Event</h5>
                <button type="button" class="btn close fw-bold" data-bs-dismiss="modal" aria-label="Close">
                    <span class="fs-2" aria-hidden="true">&times;</span>
                </button>
            </div>
    
            <div class="modal-body">
    
                <div class="row">
                  <form method="post" enctype="multipart/form-data" id="eventEditForm">
                    <input type="text" name="action" value="edit" hidden>
                    {% csrf_token %} 
        
                    <div class="col-sm-12"> 

                      <div class="form-group mb-2">
                        <label for="eventTitle" class="mb-1">Title</label>
                        <input name="title" type="text" class="form-control" id="eventTitle"placeholder="Event Title"  
                        value="{{ event.title }}"
                        required>
                      </div>
      
                      <!-- date  -->
                      <div class="form-group mb-2">
                        <label for="eventDate" class="mb-1">Date</label>
                        <input name="date" type="date" class="form-control" id="eventDate" 
                          value="{{ event.date | date:'Y-m-d' }}"
                        placeholder="Event Date"  required>
                      </div>
      
                      <!-- start time -->
                      <div class="form-group mb-2">
                        <label for="eventStartTime" class="mb-1">Start Time</label>
                        <input name="start_time" type="time" class="form-control" id="eventStartTime"
                          value="{{ event.start_time | date:'H:i' }}"
                        placeholder="Event Start Time"  required>
                      </div>
      
                      <!-- Endtime -->
                      <div class="form-group mb-2">
                        <label for="eventEndTime" class="mb-1">End Time</label>
                        <input name="end_time" type="time" class="form-control" id="eventEndTime" placeholder="Event End Time" 
                        value="{{ event.end_time | date:'H:i' }}"
                        required>
                      </div>
      
                      <!-- image -->
                      <div class="form-group mb-2">
                        <label for="eventImage" class="mb-1">Image</label>
                        <input name="image" type="file" class="form-control" id="eventImage" 
                          value="{{ event.image }}"
                        placeholder="Event Image"  required>
                      </div>

                      <div class="form-group mb-3">
                        <label class="mb-1" for="floatingTextarea" >Description</label>
                        <textarea name="description" class="form-control tinymce-editor" placeholder="" id="floatingTextarea" style="height: 100px;">
                          {{ event.description }}
                        </textarea>
                      </div> 
      
                      
                    </div>
      
      
        
            
                  </form>
                </div>
                
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save-cart-item-changes" id="eventSavechagesBtn"
                  onclick="document.querySelector('#eventEditForm').submit();"
                >
                    Save changes
                    <span><i class="fas fa-arrow-circle-right"></i></span>
    
                </button>
            </div>
            </div>
        </div>
      </div>

    </section> 

{% endblock %}
