{% extends "adminportal/base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %} Courses  {% endblock %}


{% block page_title %} Courses {% endblock %}
{% block  breadcrumb %}
    <li class="breadcrumb-item active"> Courses </li>
{% endblock %}

{% block  content_area %}
<section class="section dashboard">
  <div class="row">

    <div class="action-buttons d-flex justify-content-end mb-2">
      <div class="d-flex justify-content-between">
        <a  href="{% url 'admin-add-course' %}" class="btn btn-success"> Create New  </a>
      </div>
   
    </div>

    <div class="col-12">
        <div class="card recent-sales overflow-auto">

          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>

              <li><a class="dropdown-item" href="#">Today</a></li>
              <li><a class="dropdown-item" href="#">This Month</a></li>
              <li><a class="dropdown-item" href="#">This Year</a></li>

            </ul>
          </div>

          <div class="card-body">
            <h5 class="card-title">Courses <span>| This Year </span></h5>


            

            <table class="table table-borderless datatable">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">name</th>
                  <th scope="col">starton</th>
                  <th scope="col">duration</th>

                </tr>
              </thead>

              <tbody>
                {% for course in courses %}
                    <tr>
                        <th scope="row"><a href="{% url 'admin-view-course' course.slug %}"
                         >#{{  forloop.counter }}</a></th>
                        <td>
                          <a href="{% url 'admin-view-course' course.slug %}" class="text-primary">
                            {{ course.name }}
                          </a>
                        </td>
                        <td>{{course.start_on|strftime:"%d.%m.%Y"}}</td>
                        <td>{{course.duration}}</td>
                    </tr>
                {% endfor %}
              </tbody>
              
            </table>

 

          </div>

        </div>
    </div>
  
        

  </div>
</section> 

{% endblock %}
 